[submodule "deps/xz"]
	path = deps/xz
	url = https://github.com/xz-mirror/xz.git
[submodule "deps/php-src"]
	path = deps/php-src
	url = https://github.com/php/php-src.git
[submodule "deps/libxml2"]
	path = deps/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/sqlite"]
	path = deps/sqlite
	url = https://github.com/sqlite/sqlite.git
	branch = origin/branch-3.32
[submodule "deps/re2c"]
	path = deps/re2c
	url = https://github.com/skvadrik/re2c.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl.git
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
